.sources {
    font: 300 1em 'Fira Sans', sans-serif;
}

.select {
	margin: 0 auto;
	position: relative;
	max-width: 700px;
}

.select__header {
	cursor: pointer;
	display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #70d6ff;
    font-size: 1rem;
    color: white;
}

.select__body {
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
    background-color: #17181c;
    z-index: 10;
}

.select.active .select__body {
	display: block;}

.source__item {

    font: inherit;
    line-height: 1;
    border: solid 2px #70d6ff;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
